---
permalink: site.js
---
function getSitePath (version) {
    let sitePath = '';
    if (version != '') {
        sitePath = `/version/${version}/`;
    }
    else {
        sitePath = '/';
    }
    {%- if env.DOCSSITE_ROOT_SUBDIR != '' and env.DOCSSITE_ROOT_SUBDIR != undefined -%}
    sitePath = `/{{env.DOCSSITE_ROOT_SUBDIR}}${sitePath}`;
    {%- endif -%}
    return sitePath;
}
    
// calculate the path to the docs subdir, taking version into account
function getDocsPath (version) {
    let sitePath = getSitePath(version);
    return `${sitePath}{{site.docsSubdir}}`;
}

export {
    getSitePath,
    getDocsPath
}
