---
permalink: versions.js
---
function getLatest() {
    return "{{ env.DOCSSITE_VERSION }}";
}

function getReleases() {
    {%- set releases = versions | sortSemver | reverse -%}
    return [
        
    {%- for release in releases -%}
        "{{ release }}",
    {%- endfor -%}

    ];
}

export {
    getLatest, getReleases
}