{%- extends 'htmleton.njk' -%}
{%- block head -%}
<title>{{ site.title }}{%- if sectionTitle -%}: {{sectionTitle}} {%- endif -%}{%- if title -%}: {{ title }}{%- endif -%}</title>
{%- endblock -%}

{%- block body -%}
<header>
    <h1><a href="{{ '/' | addSiteRootPath }}">{{ site.title }}</a></h1>
    <nav aria-label="Main sections">
        <ul>
            <li><a href="{{'/docs' | addSiteRootPath }}">Docs</a></li>
            <li><a href="{{'/about' | addSiteRootPath }}">About</a></li>
        </ul>
    </nav>
</header>

{%- block content -%}
<main>
{{ content | safe }}
</main>

<script type="module" src="{{ '/versions.js' | addSiteRootPath }}"></script>
<script type="module" src="{{ '/site.js' | addSiteRootPath }}"></script>
<script type="module">
    import { getLatest } from '{{ '/versions.js' | addSiteRootPath }}';
    import { getSitePath, getDocsPath } from '{{ '/site.js' | addSiteRootPath }}';

    document.addEventListener("DOMContentLoaded", e => {
        if ( "{{ env.DOCSSITE_VERSION }}" != getLatest() ) {
            showBanner("{{ env.DOCSSITE_VERSION }}", getLatest());
        }
    });
    function showBanner(thisVersion, latestVersion) {
        let banner = document.createElement("p");
        banner.classList.add("banner");
        banner.innerHTML = `You are viewing an old version ({{ env.DOCSSITE_VERSION }}).`;
        let tags = [
            {%-for tag in tags -%}
            '{{tag}}',
            {%- endfor -%}
        ];
        if (tags.includes("docs")) {
            banner.innerHTML += ` <a href="${getDocsPath('')}">View the latest documentation</a>.`;
        } 
        else {
            banner.innerHTML += ` <a href="${getSitePath('')}">View the latest site</a>.`;
        }
        let main = document.querySelector("main");
        main.appendChild(banner);
    }
</script>

{%- endblock -%}

<footer>
    <p>Last updated: {{ page.date | readableDate }}</p>
</footer>

{%- endblock -%}
